/* ------------------------------
         Global Customize
------------------------------ */
/* --- Body Styles --- */
body {
	font-family: 'Vazir', Vazir, Tahoma, Arial, sans-serif !important;
	font-weight: 300;
    direction: rtl;
    text-align: right;
    color: #5a5a5a;
}
/* --- Link Styles --- */
a {
  text-decoration: none !important;
}

/* ------------------------------
             Sidebar
------------------------------ */
#sidebar {
    height: 100%;
}
#sidebar.collapsing {
    height: 0;
}
#sidebar .nav-link {
    color: #f8f9fa!important;
}
#sidebar ion-icon {
    width: 20px;
    height: 20px;
}
#sidebar .chevron-back {
    transition: 0.2s transform ease-in-out;
    transform: rotate(-90deg);
}
#sidebar .collapsed .chevron-back {
    transform: rotate(0deg);
}
@media (min-width: 768px) {
    #sidebar {
        height: calc(100vh - 61.6px) !important;
        position: fixed;
        transition: transform 0.2s linear;
    }
    #sidebar.collapse {
        transform: translateX(100%);
    }
    #sidebar.collapsing{
        transform: translateX(100%);
    }
    #sidebar.collapse.show{
        transform: translateX(0);
    }
    #main {
        transition: 0.2s all;
    }
}